.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px #6d6a6a;
  
}

.checkoutProduct__info {
    padding-left: 20px
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
   
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}
.checkout__product{
    flex: 1;
}
.empty__cart__page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
}
.checkout__user{
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: 1px solid #6d6a6a;
}